@use "./variables" as *;

.white {
  margin-inline: 15px;
  margin-top: 24.9px;
  margin-bottom: 45px;
}

.insomnia {
  color: $colorsecondary;
  font-size: $minitext;
  text-transform: capitalize;
  line-height: 1.875em;
  font-weight: normal;
}

.window {
  font-size: $titlessize;
  font-family: $texttitle1;
  width: 18ch;
}

.description1 {
  font-size: $generalsize;
  margin-top: 20px;
  margin-bottom: 26px;
  text-align: left;
}

.button_go {
  border: solid $color3 2px;
  padding-inline: 25px;
  padding-block: 10px;
  border-radius: 22.5px;
  text-decoration: none;
  color: $color3;
  text-transform: capitalize;
  font-size: 1.25em;
}

/* comienzo de las medias queries */
@media (min-width: 768px) {
  .white {
    margin-inline: 39px;
  }
  .window {
    font-size: $tablettitles;
    width: auto;
  }
  .description1 {
    font-size: $tabletcontent;
  }
  .button_go {
    padding-inline: 30px;
  }
}

@media (min-width: 1280px) {
  .white {
    margin-block: 65px;
    margin-inline: 275px;
    height: 300px;
  }
  .insomnia {
    font-size: $littletext;
  }
  .window {
    font-size: $desktoptitles;
  }
  .button_go {
    position: absolute;
    bottom: -300px;
    padding-inline: 80px;
    transition: transform 350ms;
  }
  .button_go:hover {
    color: black;
    background-color: $color5;
    transform: scaley(2);
  }
}
