<section class="blue" id="blue">
  <h2 class="reasons">3 Reasons To Purchase</h2>
  <article class="description2">
    <h3 class="title1">Ut sed metus</h3>
    <p class="comment1">Lorem ipsum dolor sit amet, consecteur.</p>
    <h3 class="title2">Curabitur ac erat</h3>
    <p class="comment2">Mauris mattis urna quis lorem molestie.</p>
    <h3 class="title3">Morbi dictum</h3>
    <p class="comment3">Aliquam in dolor et dolor tincidunt.</p>
  </article>
  <a href="https://adalab.es" class="morereasons">More reasons</a>
</section>
