<section class="footer">
  <a href="#hero" class="button_arrow_up">
    <img src="/images/ico-arrow.svg" alt="icono para subir a la primera sección" class="arrow_up">
  </a>
  <nav class="more_information">
    <a href="https://adalab.es/">articles</a>
    <a href="https://adalab.es/">books</a>
    <a href="https://adalab.es/">events</a>
    <a href="https://adalab.es/">reasons</a>
    <a href="https://adalab.es/">tips</a>
  </nav>
  <nav class="social_networks">
    <a href="https://adalab.es/">twitter</a>
    <a href="https://adalab.es/">instagram</a>
    <a href="https://adalab.es/">mastodon.social</a>
  </nav>
  <div class="copyright_slogan">
  <scan class="copyright">&copy; 2022</scan>
  <scan class="slogan">we &#x1F9E1; components</scan>
  </div>
</section>