* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hamburguesa {
  background-color: #0271bc;
  border: solid #0271bc;
  padding: 10px;
}

.first {
  border: solid;
  margin-bottom: 20px;
}

.white {
  border: solid;
}